@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  background-color: #202036;
}


.not-active-logo {
  filter: drop-shadow(0px 1000px 0 #727682);
  transform: translateY(-1000px);
}

.c {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: -10px;
  border-top-right-radius: -10px;
  z-index: 10;
  box-shadow: 10px 0px 10px -10px rgba(255, 255, 255, 0.5), -10px 0px 10px -10px rgba(255, 255, 255, 0.5), 0px 10px 10px -10px rgba(255, 255, 255, 0.5);
}



.title{
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red
}


.welcome{
  /* background-image: url('./imgs/welcome3.jpg');  */
  background-repeat: no-repeat;
  background-size:cover;
  scroll-snap-align:center;
  overflow: hidden;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.home::-webkit-scrollbar {
  display: none; 
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

@media screen and (max-width: 600px) {
  .welcome {
    background-size: 100% 100%;
  }
}

.home{
  overflow-y: auto; 
  overscroll-behavior-y: contain;
  scroll-snap-type:y mandatory;
  height: 100vh;
}
select option {
  background-color: red;
}

option:hover{
  background-color: black;
}
